# In skip_artists.txt
Now Wave Radio
NowWaveRadio
Freethought Radio
DJ Matt Williams

# DJ names and show credits
with DJs Jeri-Rig & V-Dub
with Dirk Oddfellow
with Dmitri Baughman
Dirk Oddfellow
Dmitri Baughman
DJs Jeri-Rig & V-Dub
